# Python
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3

# Virtual environments
venv/
env/
.venv/

# Django
*.log
media/
staticfiles/

# Environment secrets
.env
.env.local
.env.production
.env.development

# React / Vite
node_modules/
dist/
build/
.vite/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/